.idea
/logs
/data
.env
/.project
.docker-sync
/docker/jenkins/jenkins_home

/docker/logstash/pipeline/*.conf
/docker/logstash/config/pipelines.yml

/docker/nginx/ssl/*.crt
/docker/nginx/ssl/*.key
/docker/nginx/ssl/*.csr

/docker/.devcontainer/*
!/docker/.devcontainer/devcontainer.example.json
!/docker/.devcontainer/docker-compose.extend-example.yml

.DS_Store
dev-feelconnection